/* CSS RESET */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

li {
  list-style: none;
}

/* BODY/GLOBAL */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(245, 236, 213);
  color: rgb(0, 0, 0);
}

.wrapper {
  max-width: 68.75rem;
  margin: 0 auto;
}

/* HEADER & NAV  */

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

.main-nav {
  display: flex;
  justify-content: center;
  background-color: rgb(98, 111, 71);
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

li {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
}

/* UTILITY */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
